// BASE - BODY
$background-image: url('../images/background.png');
$background-color: #222;
$primary-color:#00bfff;
$font-family: 'Press Start 2P', Helvetica, Arial, serif;
$link-color:aquamarine;
$link-hover-color: darken(#ff97cf, 30%);
$iconos-size: 3em;
// SCROLL BAR
$scrollbar-bg-color:#00bfff;
$scrollbar-base-bg-color: rgb(237, 237, 237);
$scrollbar-button-bg-color: #808080;

// GENEROS
$genero-femenino-bg-color: #ff97cf;
$genero-masculino-bg-color: #bdd6fb;

// AVATAR
$avatar-box-bg: skyblue;

// CREDITOS
$creditos-bg-color:rgba(0,0,0,0.5);

// PIELES
$piel-bg-color-suntan-1:#ebe2d5;
$piel-bg-color-suntan-2:#f0c69b;
$piel-bg-color-suntan-3:#ddb6a1;
$piel-bg-color-suntan-4:#81573c;

$piel-bg-suntan-colors: ($piel-bg-color-suntan-1,
                         $piel-bg-color-suntan-2,
                         $piel-bg-color-suntan-3,
                         $piel-bg-color-suntan-4);

// TABS
$tab-bg-color:grey;
$tab-color:white;