@import "./theme/_font.scss";
@import "./abstract/_variables.scss";
@import "./abstract/_mixins.scss";
@import "./abstract/_base.scss";
@import "./components/_piezas.scss";
@import "./components/_generos.scss";
@import "./components/_avatar.scss";
@import "./components/_creditos.scss";
@import "./components/_start-window.scss";
@import "./components/_piel.scss";
@import "./components/_tabs.scss";
@import "./components/_btn.scss";